{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if is_edit %}Редактирование проекта{% else %}Создание проекта{% endif %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<link rel="stylesheet" href="{% static 'css/profile_edit.css' %}">
<link rel="stylesheet" href="{% static 'css/create-project.css' %}">
{% endblock %}

{% block content %}
<div class="project-create-container">
    <h2 class="form-title">
        {% if is_edit %}Редактирование проекта{% else %}Создание проекта{% endif %}
    </h2>

    <form method="post" action="" class="project-create-form">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div class="form-field">
            {{ form.name.label_tag }}
            {{ form.name }}
            {{ form.name.errors }}
        </div>

        <div class="form-field">
            {{ form.description.label_tag }}
            {{ form.description }}
            {{ form.description.errors }}
        </div>

        <div class="form-field">
            {{ form.github_url.label_tag }}
            {{ form.github_url }}
            {{ form.github_url.errors }}
        </div>

        <div class="form-field">
            {{ form.status.label_tag }}
            {{ form.status }}
            {{ form.status.errors }}
        </div>

        <div class="form-actions">
            {% if is_edit and project %}
                <a href="{% url 'projects:project_details' project_id=project.id %}" class="cancel-button">Отмена</a>
            {% else %}
                <a href="{% url 'projects:main_page' %}" class="cancel-button">Отмена</a>
            {% endif %}

            <button type="submit" class="save-button">
                {% if is_edit %}Сохранить изменения{% else %}Опубликовать{% endif %}
            </button>
        </div>
    </form>
</div>
{% endblock %}
